@if (data$ | async; as data) {
  <abp-page [title]="'Payment::Plans' | abpLocalization" [toolbar]="data.items">
    <abp-advanced-entity-filters localizationSourceName="Payment" [list]="list">
      <abp-advanced-entity-filters-above-search>
        <abp-payment-requests-search-form
          [(pageQuery)]="pageQuery"
        ></abp-payment-requests-search-form>
      </abp-advanced-entity-filters-above-search>
    </abp-advanced-entity-filters>

    <div class="card">
      <div class="card-body">
        <abp-extensible-table [list]="list" [data]="data.items" [recordsTotal]="data.totalCount">
        </abp-extensible-table>
      </div>
    </div>
  </abp-page>
}
