@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Volo.Abp.AspNetCore.Mvc.UI.Packages.Slugify
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Pages.Shared.Components.AbpPageSearchBox
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Pages.Shared.Components.AbpPageToolbar
@using Volo.CmsKit.Admin.Web.Pages
@using Volo.CmsKit.Localization
@using Volo.CmsKit.Pro.Admin.Web.Menus
@using Volo.CmsKit.Pro.Admin.Web.Pages
@using Volo.CmsKit.Pro.Admin.Web.Pages.CmsKit.Polls

@inherits AdminPageBase

@model IndexModel

@{
    PageLayout.Content.Title = L["Polls"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:CMS"].Value);
    PageLayout.Content.MenuItemName = CmsKitProAdminMenus.Polls.PollMenu;
}

@section scripts {
    <abp-script-bundle name="@typeof(IndexModel).FullName">
        <abp-script type="typeof(SlugifyScriptContributor)"/>
        <abp-script src="/client-proxies/cms-kit-common-proxy.js"/>
        <abp-script src="/client-proxies/cms-kit-pro-admin-proxy.js"/>
        <abp-script src="/Pages/CmsKit/Polls/Index.js"/>
        <abp-script src="/Pages/CmsKit/Polls/editModal.js"/>
        <abp-script src="/Pages/CmsKit/Polls/createModal.js"/>
        <abp-script src="/Pages/CmsKit/Polls/editTextModal.js"/>
    </abp-script-bundle>
}

@section content_toolbar {
    @await Component.InvokeAsync(typeof(AbpPageToolbarViewComponent), new {pageName = typeof(IndexModel).FullName})
}

<abp-card>
    <abp-card-body>
        <abp-row id="AdvancedFilterSection">
            <abp-column size="_12">
                <div class="mb-3">
                    <div class="input-group">
                        <input asp-for="Filter" placeholder="@L["Search"]" class="form-control" />
                        <abp-button button-type="Primary" id="RefreshFilterButton">
                            <i class="fa fa-sync" aria-hidden="true"></i>
                        </abp-button>
                    </div>
                </div>
            </abp-column>
        </abp-row>
    </abp-card-body>
</abp-card>

<abp-table  id="PollTable" class="nowrap"></abp-table>
