@page "/subscription"
@model Volo.Payment.DemoApp.Pages.SubscriptionModel
@{

}

<abp-card class="text-center">
    <abp-card-header>
        <abp-card-title>New Subscription</abp-card-title>
    </abp-card-header>
    <abp-card-body>
        <p>
            You will be redirected to Payment module to pay $5.
        </p>

        <form method="post">

            <div class="text-center">
                <button type="submit" class="pricing-button btn btn-primary">Continue</button>
            </div>
        </form>
    </abp-card-body>
</abp-card>

