<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Local" value="./nupkgs" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/21872eac-ad5a-462b-b8de-4e83b7abf220/v3/index.json" />
  </packageSources>
</configuration>