@using Volo.Abp.Ui.Branding

@inject IBrandingProvider BrandingProvider

<a href="">
    <div class="lpx-brand-logo"></div>
    @if(BrandingProvider.LogoUrl.IsNullOrEmpty())
    {
        <div class="lpx-brand-name">@BrandingProvider.AppName</div>
    }
</a>
