@page
@using Microsoft.Extensions.Localization
@using Volo.CmsKit.Localization
@model Volo.CmsKit.Pro.Admin.Web.Pages.CmsKit.IndexModel
@inject IStringLocalizer<CmsKitResource> L
@{
}

@section scripts {
    <abp-script src="/client-proxies/cms-kit-pro-admin-proxy.js" />
}

<h1>Admin</h1>
<p>@L["SamplePageMessage"]</p>
