@model Volo.CmsKit.Pro.Admin.Web.Pages.CmsKit.PageFeedbacks.PageFeedbackViewDto


<div>
    <abp-select asp-for="EntityType" asp-items="Model.EntityTypes"></abp-select>
    <abp-input asp-for="EntityId"></abp-input>
    <abp-input asp-for="HeaderVisible"></abp-input>
    <abp-input asp-for="HeaderText"></abp-input>
    <abp-input asp-for="YesButtonText"></abp-input>
    <abp-input asp-for="VeryHelpfulText"></abp-input>
    <abp-input asp-for="NoButtonText"></abp-input>
    <abp-input asp-for="NeedsImprovementText"></abp-input>
    <abp-input asp-for="ReverseButtons"></abp-input>
    <abp-input asp-for="SubmitButtonText"></abp-input>
    <abp-input asp-for="UserNotePlaceholder"></abp-input>
    <abp-input asp-for="ThankYouMessageTitle"></abp-input>
    <abp-input asp-for="ThankYouMessageDescription"></abp-input>
</div>