.card-body, .modal-body {
    .breadcrumb {
        padding: 3px 0 0 !important;
        opacity: 1 !important;
        font-size: 1em !important;

        .breadcrumb-item {
            padding: 0 !important;

            &:hover {
                span {
                    cursor: pointer;
                    background: var(--background);
                }
            }

            &.active {
                &:hover {
                    span {
                        cursor: inherit;
                        background: none;
                    }
                }

                span {
                    opacity: .5;
                    cursor: inherit;
                }
            }

            span {
                padding: 3px 8px;
                border-radius: 3px;
            }

            & + .breadcrumb-item {
                &:before {
                    content: ">";
                    opacity: .3;
                    margin: 3px 0px 0 3px;
                }
            }
        }
    }
}

span.fileName:hover{
    cursor: pointer;
}

span.directoryName:hover{
    cursor: pointer;
}

.jstree-wholerow-clicked > div{
    background-color: var(--bs-primary);
    border-radius: 8px;
}

.jstree-wholerow-hovered{
    background-color: var(--bs-light) !important;
}

.jstree-node{
    color: var(--bs-dark);
}

.jstree-wholerow-clicked > a {
    color: var(--bs-white) !important;
}

.jstree-wholerow-clicked > i {
    color: var(--bs-white) !important;
}
