@page
@using LeptonXDemoApp.Permissions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using LeptonXDemoApp.Web.Pages.MessageTemplate
@using LeptonXDemoApp.Localization
@using LeptonXDemoApp.Web.Menus
@model IndexModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<LeptonXDemoAppResource> L
@inject IAuthorizationService Authorization

@{
    PageLayout.Content.Title = L["MessageTemplates"].Value;
    PageLayout.Content.MenuItemName = LeptonXDemoAppMenus.MessageTemplate;
}

@section scripts
{
    <abp-script src="/Pages/MessageTemplate/index.js" />
}
@section styles
{
    <abp-style src="/Pages/MessageTemplate/index.css"/>
}
@section content_toolbar
{
    @if (await Authorization.IsGrantedAsync(LeptonXDemoAppPermissions.MessageTemplate.Create))
    {
        <abp-button id="NewMessageTemplateButton"
            text="@L["NewMessageTemplate"].Value"
            icon="plus" size="Small"
            button-type="Primary" />
    }
}

<abp-card>
    <abp-card-body>
        <abp-row class="mb-3">
            <a abp-collapse-id="MessageTemplateCollapse" class="text-secondary">@L["TableFilter"]</a>
        </abp-row>
        <abp-dynamic-form abp-model="MessageTemplateFilter" id="MessageTemplateFilter" required-symbols="false" column-size="_3">
            <abp-collapse-body id="MessageTemplateCollapse">
                <abp-form-content />
            </abp-collapse-body>
        </abp-dynamic-form>
        <hr />
        <abp-table striped-rows="true" id="MessageTemplateTable" class="nowrap"/>
    </abp-card-body>
</abp-card>
