@page
@model Volo.Payment.Alipay.Pages.Payment.Alipay.PrePaymentModel
@{
    Layout = null;
}

@Html.Raw(Model.Body)

<main>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4 mx-auto mb-4">
                    You are being redirected to Alipay for payment
                </div>
            </div>
        </div>
    </section>
</main>
